
h1.texto-detalle {
  background:#002A8D;
  color: white;
  text-align: center;
}

.mat-form-field {
  width: 50%;
}

.container-form{
  display: block;
  text-align: center;
}

.mapa{
  margin-top: 32px;
  width: 50%;
  display: inline-grid;
}

agm-map {
  height: 300px;
}
