
h1.texto-detalle {
  background: blue;
  color: white;
  text-align: center;
}

.container-form{
  display: block;
  text-align: center;
}

.mapa{
  margin-top: 32px;
}

agm-map {
  height: 300px;
}
