<h1 class="texto-detalle">Detalle Agencias</h1>
<div class="container-form">
  <form [formGroup]="formAgencia" (submit)="actualizar()" >
    <p>
        <mat-form-field class="example-full-width">
            <mat-label for="agencia" >Nombre de Agencia</mat-label>
            <input matInput id="agencia" formControlName="agencia" >
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label for="direccion">Direccion</mat-label>
            <input matInput id="direccion" formControlName="direccion">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label for="distrito">Distrito</mat-label>
            <input matInput id="distrito" formControlName="distrito">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label for="lat">Latitud</mat-label>
            <input matInput id="lat" formControlName="lat">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label for="lon">Longitud</mat-label>
            <input matInput id="lon" formControlName="lon">
        </mat-form-field>
    </p>
    <div class="example-button-row">
        <button mat-raised-button >Actualizar</button>
    </div>


    <div class="mapa">
      <agm-map [latitude]="latitudAgencia" [longitude]="longitudAgencia">
        <agm-marker [latitude]="latitudAgencia" [longitude]="longitudAgencia"></agm-marker>
      </agm-map>
    </div>

</form>
</div>

